@model List<EmployeeInfo>
@{
}

<div class="row  mb-3 justify-content-center align-items-center">
    <div class="col">
        <h2>Employee List</h2>
    </div>
    <div class="col d-flex justify-content-end">
        <a type="button" class="btn btn-primary mt-3" asp-controller="Employee" asp-action="Create">
            <i class="fa-solid fa-plus"></i> Add Employee
        </a>
    </div>
</div>



<table  id="data-tables">
    <thead class="bg-info text-white">
        <tr class="text-center">
            <th>Name</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Position</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center">

        <!-- Data tables-->
    </tbody>
</table>

<a class="btn btn-warning text-white" asp-controller="Employee" asp-action="Edit" >Edit</a>